.ok td {
	background-color: #afa;
}

.all-passed {
	background-color: #dfd;
}

.all-passed th {
	background-color: #cfc;
}

.failed td {
	background-color: #faa;
}

.something-failed {
	background-color: #fdd;
}

.something-failed th {
	background-color: #fcc;
}

.ok td, .all-passed th, .all-passed h1, .all-passed h2, .all-passed p {
	color: #040;
}

.failed td, .something-failed th, .something-failed h1, .something-failed h2, .something-failed p {
	color: #400;
}

table, p {
	width: 80%;
	margin: 10pt auto 20pt auto;
}

th {
	text-align: left;
}

td {
	font-family: monospace;
	font-size: large;
	margin: 6pt 2pt;
	padding: 2pt;
}

h1, h2, th {
	font-family: sans-serif;
}
