.ok td {
	background-color: #afa;
}

.all-passed {
	background-color: #dfd;
}

.failed td {
	background-color: #faa;
}

.something-failed {
	background-color: #fdd;
}

.ok td, .all-passed th, .all-passed h1 {
	color: #040;
}

.failed td, .something-failed th, .something-failed h1 {
	color: #400;
}

table {
	width: 80%;
	margin: auto;
}

th {
	text-align: left;
}

td {
	font-family: monospace;
	font-size: large;
	margin: 6pt 2pt;
	padding: 2pt;
}
